* {
    margin: 0px;
    padding: 0px;  
}
/*Header*/

header{ 

    color: white;
    background-color: rgba(16, 1, 38, 1);

    display: flex;

    height: 6vh;
}
.header-left{
    margin: 0 2%;
    width: 48%;
}

.header-right{
    margin: 0.5% 2%;
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

.header-right img{
    width: 30px;
    height: 30px;
}




/*MAIN*/

main{
    color: white;

    display: flex;
    background-color: rgba(101, 3, 166, 1);

    height: 100vh;

}


main h1{

    font-size: 34px;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

/*FOOTER*/

footer{
    color: white;
    background-color: rgba(16, 1, 38, 1);

    display: flex;

    height: 6vh;
}

.ft-buttons{
   width: 20%;
   margin-left: 2%;
}
.ft-buttons picture{
    margin: 0 6em;
}
.ft-buttons picture img{
    width: 20px;
    height: 20px;
}

.ft-left{
    width: 37%;
    margin-top: 0.6%;
}

.ft-left ul{ 
    display: flex;
    list-style-type: none;
}
.ft-left ul li{
    margin: 0 5em;
}
.ft-left ul li a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.ft-right{
    width: 37%;
    margin-top:0.6%;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
 
}
.ft-right h1{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 26px;
}


